.idea/*
.DS_Store
experiments/*
models/AVT_ConvLSTM_Sub_Attention/service/bin/*
models/AVT_ConvLSTM_Sub_Attention/service/output/*
models/AVT_ConvLSTM_Sub_Attention/service/cache/*
models/AVT_ConvLSTM_Sub_Attention/inference_DepressionAnalysis_AVT_PHQ-score/*
models/AVT_ConvLSTM_Sub_Attention/exp_AVT+ConvBiLSTM+PHQ-Subscores+Sub-Attention+Soft/*
models/AVT_ConvLSTM_Sub_Attention/model_weights/*
*.pyc
inference_DepressionAnalysis_AVT_PHQ-score/*
