.idea/*
.DS_Store
experiments/*
weights/*
output/*
cache/*
exp_AVT+ConvBiLSTM+PHQ-Subscores+Sub-Attention+Soft/*
data/__pycache__/*
dataset/__pycache__/*
*.pyc
inference_DepressionAnalysis_AVT_PHQ-score/*