.idea/*
.DS_Store
experiments/*
AVT_ConvLSTM_Sub_Attention/service/weights/*
AVT_ConvLSTM_Sub_Attention/service/output/*
AVT_ConvLSTM_Sub_Attention/service/cache/*
AVT_ConvLSTM_Sub_Attention/inference_DepressionAnalysis_AVT_PHQ-score/*
AVT_ConvLSTM_Sub_Attention/exp_AVT+ConvBiLSTM+PHQ-Subscores+Sub-Attention+Soft/*
AVT_ConvLSTM_Sub_Attention/service/data/__pycache__/*
AVT_ConvLSTM_Sub_Attention/dataset/__pycache__/*
*.pyc
inference_DepressionAnalysis_AVT_PHQ-score/*